.about-banner {
  width: 100%;
  display: block;
  min-height: 300px;
  background: rgb(248, 245, 239);
  background: linear-gradient(
    90deg,
    rgba(248, 245, 239, 1) 0%,
    rgba(253, 246, 234, 1) 35%,
    rgba(253, 246, 234, 1) 100%
  );
}

.about-banner h1,
.about-banner h2 {
  color: #041213;
  display: block;
  text-transform: uppercase;
  font-family: "Poppins-Medium";
  margin: 0;
  padding: 110px 0px 0px 0px;
  line-height: 40px;
  letter-spacing: 1px;
}
.about-banner h2 {
  padding: 0;
  font-size: 23.5px;
  line-height: 34px;
}
.about-banner-wrap,
.about-wrap {
  max-width: 1170px;
  width: 100%;
  margin: 0px auto;
  padding: 0px 15px;
}
.about-wrap p {
  padding-left: 15px;
  padding-right: 15px;
  color: #222626;
  font-size: 16px;
  line-height: 28px;
  font-family: "Poppins-Light";
}
.about-logo ul li {
  text-align: center;
}
.content {
  display: block;
  width: 100%;
}
.padding-top-20 {
  padding-top: 20px;
}
.image-padding {
  padding-top: 130px;
}
.content h1 {
  font-size: 36px;
  padding-top: 60px;
  text-transform: capitalize;
  color: #242c33;
  padding: 60px 0px 10px 0px;
  margin: 0;
  width: 100%;
  line-height: 38px;
  padding-left: 15px;
  padding-right: 15px;
}

.bottom-space {
  margin-bottom: 0;
  padding-bottom: 0;
}
.justify {
  text-align: justify;
}
.feature-section {
  width: 100%;
  display: block;
  padding: 20px;
  box-sizing: border-box;
  background: #f0f5f6;
  margin-bottom: 15px;
}
.feature-section h6 {
  display: block;
  color: #041213;
  font-family: "Poppins-Regular";
  padding: 7px 0px;
  line-height: 24px;
  margin: 0;
  font-size: 20px;
}
.feature-section ul {
  list-style: none;
}
.feature-section ul li::before {
  content: "\2022";
  color: var(--theme-color);
  font-weight: bold;
  display: inline-block;
  width: 1em;
  font-size: 20px;
}
.feature-section ul li {
  color: #455059;
  font-size: 18px;
  font-family: "Poppins-Light";
  line-height: 26px;
  padding: 5px 0px;
}
@media (max-width: 768px) {
  .col-1,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .col-9,
  .col-10,
  .col-11,
  .col-12 {
    flex-basis: 100%;
    max-width: 100%;
    flex: 0 0 100%;
  }
  .about-banner h1 {
    padding-top: 40px;
    text-align: center;
  }
  .about-banner h2 {
    text-align: center;
    padding-top: 0px;
    padding-bottom: 40px;
  }
}

.site-header {
  display: block;
  position: sticky;
  top: 0;
  border-bottom: 1px solid #dcdcdc;
  width: 100%;
  background-color: white;
  z-index: 1;
}
.site-header .container {
  display: flex;
  margin: 0 auto;
  width: 100%;
  max-width: 1280px;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
}
.site-header .container .logo {
  flex: 0 0 150px;
  max-width: 150px;
}
.site-header .container .nav {
  flex: 0 0 auto;
  display: flex;
  justify-content: flex-end;
}
.site-header .container .nav ul {
  display: flex;
}
.site-header .container .nav ul li {
  padding: 10px;
  display: inline-flex;
  align-items: center;
}
.site-header .btn.btn-gray {
  background-color: #6e6e6e;
}
.site-header .link {
  display: flex;
  align-items: center;
  color: #6e6e6e;
}
.site-header .link img {
  margin-left: 5px;
}
.hamburger,
.close-sidebar {
  display: none;
}
.hamburger {
  height: 24px;
  width: 36px;
  margin: 0;
  position: absolute;
  top: 18px;
  left: 15px;
  display: none;
  vertical-align: middle;
  z-index: 1;
}

.hamburger span {
  display: block;
  background: #6e6e6e;
  width: 100%;
  height: 4px;
  margin-top: -2px;
  position: absolute;
  left: 0;
  top: 50%;
}

.hamburger:before,
.hamburger:after {
  content: "";
  display: block;
  background: #6e6e6e;
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  transform-origin: center center;
  transform: rotate(0deg);
  transition: all 0.3s ease;
}

.hamburger:before {
  top: 2px;
  margin-top: -2px;
}

.hamburger:after {
  bottom: 2px;
  margin-bottom: -2px;
}
@media (max-width: 768px) {
  .hamburger {
    display: inline-block;
  }
  .close-sidebar {
    display: block;
    position: absolute;
    z-index: 10;
    right: 10px;
    top: 10px;
  }
  .close-sidebar svg path {
    fill: #fff;
  }
  .site-header .container .nav {
    position: fixed;
    left: -100%;
    top: 0px;
    height: 100%;
    z-index: 9;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    display: flex;
    justify-content: flex-start;
    transition: left 0.3s ease-in-out;
  }
  .site-header .container .nav.open {
    left: 0;
    transition: left 0.3s ease-in-out;
    padding-top: 0;
  }
  .site-header .container {
    padding-left: 60px;
  }
  .site-header .container .nav ul {
    max-width: calc(100% - 80px);
    background-color: #fff;
    flex-direction: column;
    width: 300px;
    padding-top: 10px;
  }
  .site-header .container .nav .btn {
    width: 100%;
  }
  .site-header .container .logo {
    flex: 0 0 100px;
    max-width: 100px;
    display: flex;
  }
}
